* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  opacity: 0.6;
  color: rgb(73, 142, 221);
}

.nav-links {
  display: flex;
}

li {
  color: transparent;
}

h3 {
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

span {
  text-transform: uppercase;
}

a {
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
}

main {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30%;
  height: 55%;
  background-color: black;
  /* border: 3px solid black; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn {
  border-radius: 15px;
  height: 20%;
  background-color: white;
  color: rgb(73, 142, 221);
}
